body { background: white; margin: 5% }
h2 {
  font-size: 1.2em;
  margin: 2em 0em 0em 0em;
  padding: 0.2em 0.5em;
  border-width: thin;
  border-color: white;
  background-color: #99F;
  clear: both;
}
h3 {
  margin: 1em 0em 0em 0em;
  padding: 0.2em 0.5em;
  border-style: solid;
  border-width: 0px 0px 0px 20px;
  border-color: #99F;
}
pre {
  font-family: Menlo, "Courier New", Consolas, monospace;
  color: maroon;
  margin-left: 2em;
  overflow: auto;
}
code, tt { font-family: Menlo, "Courier New", Consolas, monospace; color: maroon }
em { font-style: normal; color: #F30 }
a:hover, a:focus, a:active { color: red }
a[name]:hover { color: black }
img { border-style: none }
td, th { padding: 0.2em 0.7em }
td { text-align: right }
th { text-align: center }
del { color: gray }
.note {
  margin-left: 0em;
  padding-left: 1.5em;
  border-left: #FC3 solid 0.5em;
}
.left { float: left; margin: 0em 1em 1em 0em; border-style: none }
.right { float: right; margin: 0em 0em 1em 1em; border-style: none }
.old { background: #FFC; }
#breadcrumbs { font-size: 90% }
#breadcrumbs + h1 { margin-top: 0 }
#breadcrumbs + article > h1 { margin-top: 0 }
hr { clear: both }
blockquote > p { margin: 0 }
figure { margin-left: 0em; margin-right: 0em }
img { max-width: 100%; height: auto }
