body {
  background: white;
  margin: 5%;
}
h2 {
  font-size: 1.2em;
  margin-top: 2em;
  padding: 0.2em 0.5em;
  border-left: 1em solid #99F;
  /* clear: both; */
}
h3 {
  margin-top: 1em;
  padding: 0.2em 0.5em;
  border-left: 0.5em solid #99F;
}
pre, code, tt {
  font-family: Menlo, Consolas, "Courier New", monospace;
  color: maroon;
}
pre {
  margin-left: 2em;
  overflow-x: auto;
}
pre:hover { background: #EEE; }
pre:active { background: #CCC; }
em { font-style: normal; color: #F30 }
a:hover, a:focus, a:active { color: red }
a[name]:hover, a[name]:focus, a[name]:active { color: black }
img {
  max-width: 100%;
  height: auto;
  border-style: none;
}
td, th { padding: 0.2em 0.7em }
td { text-align: right }
th { text-align: center }
del { color: gray }
.cell {
  padding: 0.5em 1em;
  margin: 0;
  border-left: 1em solid #CCC;
  background: #f4f4f4;
  box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.3);
}
.note {
  margin-left: 0;
  padding-left: 1.5em;
  border-left: #FC3 solid 0.5em;
}
.keytop {
  font-family: sans-serif;
  border: 0.05em solid;
  border-radius: 0.3em;
  padding: 0.2em;
}
.left { float: left; margin: 0 1em 1em 0; border-style: none }
.right { float: right; margin: 0 0 1em 1em; border-style: none }
.old { background: #FFC; }
.me { text-decoration: underline; }
#breadcrumbs { font-size: 90% }
#breadcrumbs + h1 { margin-top: 0 }
#breadcrumbs + article > h1 { margin-top: 0 }
div.math { margin-left: 2em }
hr { clear: both }
blockquote > p { margin: 0 }
figure { margin-left: 0; margin-right: 0 }
img { max-width: 100%; height: auto }
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item {
  flex: 1 1 200px;
  margin: 1em;
}
@media print {
  body { margin: 0 }
  a:link, a:visited { color: #0000EE }
  pre { overflow: visible }
}
